@import '../../common/css/coral/_coral-fluid-mixins.scss';

section.seasons-tabs > article .contenu {
	.description {
		@include property(margin-top, 28px);
		@media (max-width: 768px) {
			@include property(margin-top, 20px);
		}
	}

	ul.navigation {
		user-select: none;
		display: flex;
		list-style: none;
		width: 60%;
		margin: -1.2em auto 0;
		z-index: 2;
		position: relative;
		@include property(border-radius, 57px);
		background: #fff;
		box-shadow: 0 37px 40px 0 rgba(0, 0, 0, 0.05);
		padding: 2px;

		@media (max-width: 768px) {
			width: 100%;
			margin-top: 0.5em;
			background: transparent;
			box-shadow: unset;
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			padding: 0 0 8px 0;
		}

		li {
			flex: 1;
			display: flex;
			padding: 10px 26px;
			justify-content: center;
			align-items: center;
			@include property(border-radius, 30px);
			cursor: pointer;
			transition: all 300ms ease;

			@media (max-width: 768px) {
				scroll-snap-align: center;
			}
		}

		li.js-active {
			background: var(--colorPrimaryBase, #0092d0);
			color: #fff;
		}
	}

	.content {
		display: none;
	}

	.content.js-active {
		display: block;
	}

	.poster {
		border-radius: 1em;
		overflow: hidden;

		> img {
			display: block;

			@media (max-width: 768px) {
				min-height: 420px;
			}
		}
	}

	.calendar-container {
		--background-color: #fff;
		--calendar-bg: white;
		--text-color: black;
		--shadow-color: rgba(0, 0, 0, 0.1);
		--holiday-bg: #0092d0;
		--weekend-color: #e67e22;

		@include property(margin-top, 40px);
		display: flex;
		justify-content: space-evenly;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 1em;
		}

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include property(margin-bottom, 24px);
		}

		.calendar {
			background: var(--calendar-bg);
			@include property(padding, 24px);
			@include property(border-radius, 20px);
			box-shadow: 0 4px 8px var(--shadow-color);
			text-align: center;
			user-select: none;
		}

		.month {
			font-size: 20px;
			font-weight: bold;
		}
		.work-days {
			font-size: 14px;
			color: var(--text-color);
		}
		.weekdays,
		.days {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
		}
		.weekdays div {
			font-weight: bold;
			@include property(margin-bottom, 16px);
		}
		.days .day,
		.days > div {
			padding: 5px 10px;
		}
		.days .disable {
			opacity: 0.2;
		}
		.days .holiday {
			cursor: pointer;
		}

		.days .day.curved {
			position: relative;
			&::after {
				content: attr(data-day);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #33c2ff;
				color: #fff;
			}
		}

		.days .day.curved-right {
			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;
		}
		.days .day.curved-left {
			border-top-left-radius: 12px;
			border-bottom-left-radius: 12px;
		}
		.days .weekend {
			color: var(--weekend-color);
		}
		.days .holiday {
			background: var(--holiday-bg);
			color: white;
		}
	}

	/* Основной контейнер тултипа */
	.tippy-box {
		background-color: #fff;
		color: #000;
		border-radius: 6px;
		padding: 0;
		background: var(--colorBgElevated, #fff);
		font-size: 14px;
		text-align: center;
		box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

		.tippy-content {
			padding: 0;
		}

		.content {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 8px;
			padding: 12px 16px;
		}

		.name,
		.description {
			font-size: 14px;
			font-weight: 700;
			line-height: 1.5;
			text-align: left;
			margin: 0;
		}

		.description {
			font-weight: 400;
		}

		.actions {
			a {
				padding: 5px 12px;
			}
		}
	}

	.tippy-arrow {
		color: #fff;
		padding: 0 !important;
	}
}
