@import '../../common/css/coral/_coral-fluid-mixins.scss';

section.tabs > article .contenu {
	.tabs-wrapper {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		gap: 0px;
		aspect-ratio: 684/265;
		z-index: 2;
		grid-template-areas:
			'headline tab-links'
			'advizor .'
			'. description';

		> * {
			align-self: start;
		}

		h2 {
			margin-top: 0.2em;
		}

		.headline {
			grid-area: headline;
		}

		.tab-links {
			grid-area: tab-links;
			display: flex;
			list-style: none;
			background-color: #fff;
			border-radius: 3em;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
			width: fit-content;
			justify-self: end;
			margin-right: 1em;
			top: 16px;
			right: 16px;
			position: relative;
			margin: 0;
			z-index: 2;
			padding: 2px;

			> * {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.7em 0.8em;
				line-height: 1;
				cursor: pointer;
				font-size: 0.9em;
			}
		}
		
		.tab-link {
			transition: all 300ms ease;
		}

		.tab-link.js-active {
			background: #EAF3FB;
			color: #000;
			font-weight: 600;
			border-radius: 3em;
		}

		.advizor {
			grid-area: advizor;
			background: #fff;
			padding: 1em;
			max-width: 280px;
			border-radius: 1em;
			display: flex;
			flex-direction: column;
			gap: 0.8em;
			margin-left: 8px;
			position: absolute;
    	top: -82%;
			font-size: 1em;
			z-index: 2;

			> img {
				max-width: 170px;
			}
		}
		
		.advizor.js-hidden {
			display: none;
		}

		.description {
			grid-area: description;
			background: #fff;
			padding: 1em;
			border-radius: 1em;
			bottom: 36px;
			right: 16px;
			position: absolute;
			display: none;
			flex-direction: column;
			gap: 0.8em;
			font-size: 1em;
			z-index: 2;
			
			ul {
				margin: 0;
				padding-left: 2em;
			}
		}
		
		.description.js-active {
			display: flex;
		}

		.poster {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			overflow: hidden;
			border-radius: 1.5em;
			
			img {
				display: none;
			}
			
			img.js-active {
				display: block;
			}
		}
	}
}
